@import '../../../styles/mixins/breakpoint.scss';
@import '../../../styles/mixins/typography.scss';
@import '../../../styles/mixins/variable.scss';

.forgot-password-align {
    .align-center {
        display: flex;
        justify-content: center;
    }

    .loginText {
        margin-top: 20px;

        a {
            color: #e61952;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .grid {
        display: grid;
        align-items: center;
        margin-top: 3rem;
        width: 750px;
        margin-bottom: 2rem;
        padding: 120px 0;

        .grid-items {
            .title-text-style {
                margin-bottom: 20px;

                h3 {
                    @include heading-3;
                    color: $black-2;
                    text-align: center;
                    margin-bottom: 10px;
                }

                p {
                    @include text-sm;
                    color: $gray;
                    text-align: center;
                }
            }

            .send-button-center {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;

                button {
                    background-color: $pink;
                    border: transparent;
                    border-radius: 4px;
                    @include heading-4;
                    padding: 8px 15px;
                    color: $white;
                    min-width: 150px;
                    height: 50px;
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover {
                        box-shadow: 0 14px 26px -12px #ff5f596b, 0 4px 23px 0px #0000001f, 0 8px 10px -5px #ff5f5933;
                        opacity: 0.8;
                        background-color: #d01045;
                    }
                }
            }
        }
    }
}