

.change-password-bottom-align {
    margin-bottom: 20px;
}
.change-password-relative {
    position: relative;
}
.eye-icon-center-align-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    svg {
        stroke: #cecece;
    }
}