@import  '../../../styles/mixins/typography.scss';
@import  '../../../styles/mixins/variable.scss';
@import  '../../../styles/mixins/breakpoint.scss';

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0 8px 0 #0000001f;
    background-color: $white;
    .header-alignment {
        display: flex;
        align-items: center;
        height: 70px;
        justify-content: space-between;
        .company_logo {
            a {
                display: flex;
                align-items: center;
            }
            display: flex;
            align-items: center;
            img {
                width: 42px;
                height: 42px;
                object-fit: cover;
            }
            span {
                @include heading-3;
                display: block;
                color: $blue;
                line-height: 1.5;
                padding-left: 3px;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            .signup-button {
                button {
                    padding: 0 3px;
                    background-color: $pink;
                    font-size: 14px;
                    color: $white;
                    // height: 28px;
                    min-width: 100px;
                    height: 28px;
                    border-radius: calc(var(--normal-pixel) - 1px);
                    border: transparent;
                    cursor: pointer;
                }
            }
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    li {
                        position: relative;
                        text-decoration: none;
                        @include text;
                        cursor: pointer;
                        color: $blue-2;    
                        transition: .2s ease-in-out;   
                        margin-right: calc(var(--medium-pixel) * 3 - -5px);        
                        &:hover {
                            color: #e61b52 ;
                        }         
                    }
                }
            }
        }
        // .menu nav ul li:after {
        //     content: "";
        //     position: absolute;
        //     height: 2px;
        //     width: 100%;
        //     bottom: -4px;
        //     left: 0;
        //     background-color: $pink;
        //     transform: scaleX(0);
        //     transform-origin: left;
        //     opacity: 0;
        //     transition: transform .3s ease-out,opacity .3s ease-out;
        // }
        // .menu nav ul li:hover::after {
        //     transform: scaleX(1);
        //      opacity: 1;
        // }
    }
}