$border-color: #e8e8e8;
$white: #fff;
$blue: #011e4b;
$blue-2: #0a1a4b;
$pink: #e61952;
$heading-color: #393a4f;
$gray: #999;
$background: #fcfcfc;
$black: #222222;
$black-2: #323232;
$black-3: #212121;
$background-dark: #e74251;
$input-boder-color: #b5b5b5;
$border-color: #e8e8e8;
$pink-2: #eb4452;
$modal-border-color: #d0d0d0;
$card-background: #fbfbfb;
$card-background-1: #fafafa;
$light-gray: #424242;

:root {
  --normal-pixel: 5px;
  --medium-pixel: 10px;
  --large-pixel: 15px;
  --extra-large-pixel: 20px;
}